# Copyright (C) Damien Dart, <damiendart@pobox.com>.
# This file is distributed under the MIT licence. For more information,
# please refer to the accompanying "LICENCE" file.

.task/
cmd/visref/assets/
!cmd/visref/assets/favicon.svg
media/
node_modules/
*.db
*.db-*
/visref
