{{/*
  Copyright (C) Damien Dart, <damiendart@pobox.com>.
  This file is distributed under the MIT licence. For more information,
  please refer to the accompanying "LICENCE" file.
*/}}

{{ define "title" -}}
  Help
{{- end }}


{{ define "main" }}
  <h1 class="u-stack__1.5">Help</h1>
  <div class="u-stack u-stack--prose">
    <p>A work in progress.</p>
    <h2>Third-party credits</h2>
    <p>This project uses:</p>
    <ul>
      <li>icons from the <a href="https://remixicon.com/">Remix Icon</a> project.</li>
    </ul>
  </div>
{{ end }}
